# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.

# Project
TACO-master/
checkpoints/

# Review this one
*.ipynb_checkpoints/

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
envTaco/
.pytest_cache

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
